src/wsdl/chiri.ing.puc.cl_8080/Banco/Cuenta.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Cuenta" targetNamespace="http://servicios.banco.integracion.uc.cl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.banco.integracion.uc.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicios.banco.integracion.uc.cl/" xmlns:tns="http://servicios.banco.integracion.uc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cuentaBanco">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_at" type="xs:string"/>
      <xs:element minOccurs="0" name="grupo" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="saldo" type="xs:int"/>
      <xs:element minOccurs="0" name="updated_at" type="xs:string"/>
      <xs:element minOccurs="0" name="v" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="badParameterItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="msg" type="xs:string"/>
      <xs:element minOccurs="0" name="param" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCartola">
    <xs:sequence>
      <xs:element name="inicio" type="xs:float"/>
      <xs:element name="fin" type="xs:float"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="limit" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartola">
    <xs:sequence>
      <xs:element name="fin" type="xs:float"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="inicio" type="xs:float"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transacciones" nillable="true" type="tns:transaccion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_at" type="xs:string"/>
      <xs:element minOccurs="0" name="destino" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="monto" type="xs:int"/>
      <xs:element minOccurs="0" name="origen" type="xs:string"/>
      <xs:element minOccurs="0" name="updated_at" type="xs:string"/>
      <xs:element minOccurs="0" name="v" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="cuentaBancoArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:cuentaBanco"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadParameters" type="tns:BadParameters"/>
  <xs:complexType name="BadParameters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:badParameterItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" type="tns:Error"/>
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element name="httpCode" nillable="true" type="xs:int"/>
      <xs:element name="eRROR_CODE" nillable="true" type="xs:int"/>
      <xs:element name="description" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="BadParametersException">
    <wsdl:part element="tns:BadParameters" name="BadParametersException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCuentaResponse">
    <wsdl:part name="return" type="tns:cuentaBancoArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCuenta">
    <wsdl:part name="id" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCartola">
    <wsdl:part name="cartola" type="tns:getCartola">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorException">
    <wsdl:part element="tns:Error" name="ErrorException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCartolaResponse">
    <wsdl:part name="return" type="tns:cartola">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cuenta">
    <wsdl:operation name="getCuenta">
      <wsdl:input message="tns:getCuenta" name="getCuenta">
    </wsdl:input>
      <wsdl:output message="tns:getCuentaResponse" name="getCuentaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BadParametersException" name="BadParametersException">
    </wsdl:fault>
      <wsdl:fault message="tns:ErrorException" name="ErrorException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCartola">
      <wsdl:input message="tns:getCartola" name="getCartola">
    </wsdl:input>
      <wsdl:output message="tns:getCartolaResponse" name="getCartolaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BadParametersException" name="BadParametersException">
    </wsdl:fault>
      <wsdl:fault message="tns:ErrorException" name="ErrorException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentaSoapBinding" type="tns:Cuenta">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCuenta">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getCuenta">
        <soap:body namespace="http://servicios.banco.integracion.uc.cl/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCuentaResponse">
        <soap:body namespace="http://servicios.banco.integracion.uc.cl/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadParametersException">
        <soap:fault name="BadParametersException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ErrorException">
        <soap:fault name="ErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCartola">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getCartola">
        <soap:body namespace="http://servicios.banco.integracion.uc.cl/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCartolaResponse">
        <soap:body namespace="http://servicios.banco.integracion.uc.cl/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadParametersException">
        <soap:fault name="BadParametersException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ErrorException">
        <soap:fault name="ErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cuenta">
    <wsdl:port binding="tns:CuentaSoapBinding" name="CuentaPort">
      <soap:address location="http://chiri.ing.puc.cl:8080/Banco/Cuenta"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>